
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
      <div class="thumbnail">
        <div class="caption regist">
          <table class="table">
              <thead>
                  <tr>
                    <% if @curriculuns %>
                      <% @curriculuns.each do |data| %>
                        <div class="edit-form">
                          <th>id</th>
                          <th>Curriculum Name</th>
                          <th>Term</th>
                          <th>Price</th>
                          <th></th>
                          <th></th>
                        </div>
                      <% end %>
                    <% elsif @users %>
                        <div class="edit-form">
                          <th>id</th>
                          <th>User Name</th>
                          <th>Age</th>
                          <th></th>
                          <th></th>
                        </div>
                    <% end %>
                  </tr>
              </thead>
              <tbody>
                <% if @curriculuns %>
                  <% @curriculuns.each do |data| %>
                    <div class="edit-form">
                      <tr>
                        <th><%= data.id %></th>
                        <td><%= data.c_name %></td>
                        <td><%= data.term %></td>
                        <td><%= data.price %></td>
                        <td><%= link_to 'edit', edit_curriculum_path(data) %></td>
                        <td><%= link_to 'delete', curriculum_path(data) , method:'delete' %></td>
                      </tr>
                    </div>
                  <% end %>
                <% elsif @users %>
                  <% @users.each do |data| %>
                    <div class="edit-form">
                      <tr>
                        <th><%= data.id %></th>
                        <td><%= data.u_name %></td>
                        <td><%= data.age %></td>
                        <td><%= link_to 'edit', edit_curriculum_path(data) %></td>
                        <td><%= link_to 'delete', curriculum_path(data) , method:'delete' %></td>
                      </tr>
                    </div>
                  <% end %>
                <% end %>
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
