<!DOCTYPE html>
<html>
  <head>
    <title>PG-Lesson</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  </head>

  <body>


<div class="contents">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "PG-Lesson", curriculums_path, :class=>"navbar-brand" %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Curriculum<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "List", curriculums_path %></li>
                <li><%= link_to "Registraiton", new_curriculum_path %></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "List", users_path %></li>
                <li><%= link_to "Registraiton", new_user_path %></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Skill<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-right" action="/searches" method="get">
            <div class="form-group">
              <input type="text" name="search" class="form-control" placeholder="Curriculum name">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
          </form>
          <form class="navbar-form navbar-right" action="/#" method="get">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="User name">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <div class="caption">
              <h3>Curriculum</h3>
              <p>Ruby/Ruby on Rails</p>
              <p>Java/Spring</p>
              <p>PHP/Laravel</p>
              <p>React Native</p>
              <hr>
              <p><%= link_to "List", curriculums_path, :class=>"btn btn-info" %>&nbsp;<%= link_to "Registraiton", new_curriculum_path , :class=>"btn btn-info" %></p>
              <p></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <div class="caption">
              <h3>User</h3>
              <p>User A</p>
              <p>User B</p>
              <p>User C</p>
              <hr>
              <p><%= link_to "List", users_path, :class=>"btn btn-info " %></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <div class="caption">
              <h3>Skills</h3>
              <p>HTML</p>
              <p>Sass</p>
              <p>Ruby</p>
              <p>Java</p>
              <p>PHP</p>
              <p>JavaScript</p>
              <p>MySQL</p>
              <hr>
              <p><%= link_to "List", '#', :class=>"btn btn-info" %></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <%= yield %>


  </div>
  </body>
</html>
